"$schema" = "https://starship.rs/config-schema.json"

add_newline = false

palette = "gruvbox_dark"

# use basic string here to align elements with spaces

format = """
[ $os( $username)](              bg:orange                  )\
                            []( bg:yellow  fg:prev_bg      )\
                 [ $directory ]( bg:prev_bg fg:bright-white )\
                           ([]( bg:cyan    fg:prev_bg      )\
[( $git_branch( $git_status) )]( bg:prev_bg fg:bright-white ))\
\
$bun$c$cpp$cmake$java$lua$nodejs$python$quarto$rlang$conda\
\
                           ([]( bg:green   fg:prev_bg      )\
                    [( $jobs )]( bg:prev_bg fg:bright-white ))\
                            [](            fg:prev_bg      )\
$fill\
                           ([](            fg:red          )\
                  [( $status )]( bg:red     fg:bright-white ))\
                            []( bg:prev_bg fg:purple       )\
            [( $cmd_duration )]( bg:purple  fg:bright-white )\
                            []( bg:prev_bg fg:black        )\
                      [ $time ]( bg:black   fg:bright-white )\
$line_break $shell
"""

# MODULES

[os]
disabled = false
format = "$symbol"

[os.symbols]
Macos = " "
Linux = "󰌽 "
Redhat = " "
RedHatEnterprise = " "

[shell]
disabled = false
fish_indicator = " "
format = "$indicator"

[username]
format = "$user"

[directory]
format = "$path"
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"~/dev" = "󰲋 "

[status]
disabled = false
pipestatus = true
symbol = "✘"                 # nf-fa-xmark
not_executable_symbol = " "
not_found_symbol = " "
sigint_symbol = " "
map_symbol = true
format = "$symbol$status"

[jobs]
symbol = " "
format = "$symbol($number)"

[time]
disabled = false
time_format = "%R"
format = " $time"

[cmd_duration]
min_time = 1
show_milliseconds = true
format = "$duration"

[git_branch]
symbol = " "
format = "$symbol$branch"

[git_status]
format = "($all_status$ahead_behind)"

# >>>

[bun]
symbol = " "
format = "([](bg:#791A49 fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[c]
symbol = " "
format = "([](bg:#1C4679 fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[cpp]
symbol = " "
format = "([](bg:#00599C fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[cmake]
symbol = " "
format = "([](bg:#DF3C3C fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[java]
symbol = " "
format = "([](bg:#ED8B00 fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[lua]
symbol = " "
format = "([](bg:#000080 fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[nodejs]
symbol = " "
format = "([](bg:#339933 fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[python]
symbol = " "
format = "([](bg:#987A26 fg:prev_bg)[ $symbol$pyenv_prefix$version( \\($virtualenv\\)) ](bg:prev_bg fg:bright-white))"

[quarto]
format = "([](bg:#447099 fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[rlang]
symbol = " "
format = "([](bg:#3867B6 fg:prev_bg)[ $symbol$version ](bg:prev_bg fg:bright-white))"

[conda]
symbol = " "
format = "([](bg:#53B553 fg:prev_bg)[ $symbol$environment ](bg:prev_bg fg:bright-white))"

# <<<

# MISC

[fill]
symbol = " "

[line_break]
disabled = false

[character]
success_symbol = "[](bold fg:green )"
error_symbol = "[](bold fg:red   )"
vimcmd_symbol = "[](bold fg:green )"
vimcmd_replace_one_symbol = "[](bold fg:purple)"
vimcmd_replace_symbol = "[](bold fg:purple)"
vimcmd_visual_symbol = "[](bold fg:yellow)"

# PALLETE

[palettes.gruvbox_dark]
black = "#3c3836"
orange = "#d65d0e"
